<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="wrap">
        <div id="header">
            <h1>My Website</h1>
            <p>p테그입니다.</p>
            <div>
                <ul>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                </ul>
                <a href="#">link</a>
            </div>
        </div>
        <div id="main">
            <div id="left">
                <div class="whitebox">
                    <h2>TITLE HEADING</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="imagebox">image</div>
                    <h3>Title text</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="whitebox">
                    <h2>TITLE HEADING</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="imagebox">image</div>
                    <h3>Title text</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div id="right">
                <div class="whitebox">
                    <h2>About Me</h2>
                    <div>image</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="whitebox">
                    <h2>Popular Post</h2>
                    <ul>
                        <li class="imagebox">image</li>
                        <li class="imagebox">image</li>
                        <li class="imagebox">image</li>
                    </ul>
                </div>
                <div class="whitebox">
                    <h2>Follow Me</h2>
                    <p>some text...</p>
                </div>
            </div>
        </div>
        <div id="footer">
            footer
        </div>
    </div>
</body>
</html>